@model BestFor.Dto.Account.ApplicationUserDto
@*
    This is the view for a View Component called CurrentUserViewComponent.
    This view shows information about the currently logged in user.
    This is only the right side on the top. This is floated to the right.
*@
@if (Model.IsSignedIn)
{
    <div class="best-top-right-bar">
        <div class="dropdown"> @* This class just gives some position. position: relative; to be exact. 
                                  It allows the uderlayed image display in the partial view. *@
            @* Show user's image with level and achievements *@
            <a class="best-user-menu" asp-controller="Account" asp-action="ViewProfile"
                title="Manage">@Html.Partial("PartialUserImageSmall", Model as BestFor.Dto.Account.IBasicUserInfo)</a>
        </div>
    </div>
}
else
{
    <div class="best-top-right-bar" style="padding-top:20px;">
        <a class="best-light-link" asp-controller="Account" asp-action="Register">Register</a>
        <span>&nbsp;</span>
        <a class="best-light-link" asp-controller="Account" asp-action="Login">Log in</a>
    </div>
}
