@model BestFor.Dto.Account.ApplicationUserDto
@* This view shows information about the currently logged in user. *@
@if (Model.IsSignedIn)
{
    <div class="best-top-right-bar">
        <div class="dropdown">
            <div id="accountDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                @* Show user's image with level and achievements *@
                @Html.Partial("PartialUserImageSmall", Model as BestFor.Dto.Account.IBasicUserInfo)

            </div>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownMenu">
                <li>
                    <a class="best-user-menu" asp-controller="Account" asp-action="ViewProfile"
                        title="Manage">@Model.DisplayName</a>
                </li>
                <li>
                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                        <button type="submit" class="btn btn-link">Log off</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="best-top-right-bar" style="padding-top:20px;">
        <a class="best-light-link" asp-controller="Account" asp-action="Register">Register</a>
        <span>&nbsp;</span>
        <a class="best-light-link" asp-controller="Account" asp-action="Login">Log in</a>
    </div>
}
