@model BestFor.Dto.UserLevelingResultDto
@if (Model != null)
{
    if (Model.GainedLevel)
    {
        var display = string.Format("You reached level {0}!", Model.Level);
        <span>@display</span>
    }
}


