@model BestFor.Dto.Account.IBasicUserInfo
@* Display Users avatar in "large" format.  *@
@if (Model != null)
{
    int level = Model.Level < 0 || Model.Level > 10 ? 0 : Model.Level;
    string stringOutsideImage = "~/images/themes/green/level" + (level + 1) + ".png";
    string stringUserImage = Model.UserImageUrl;
    if (stringUserImage == null)
    {
        stringUserImage = "~/images/themes/green/noimage.png";
    }
    @* We have a fixed image width and height. And fixed avatarr size. We can use fixed numbers.*@
    <div style="width:141px;height:153px">
        <img src="@Url.Content(stringOutsideImage)" style="width:141px;height:153px;position:absolute" />
        <div style="padding-left:21px;padding-top:19px">
            <img src="@Url.Content(stringUserImage)" class="img-circle" />
        </div>
    </div>
}


